.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Hide scroll bars */
    background: linear-gradient(rgb(231, 124, 222), rgb(235, 184, 235));
  }
  
  #noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    margin-top: 30px;
    /* Set initial position */
    
}

#noButton:hover {
    /* Calculate new position */
    left: calc(50% - 150px); /* Adjust as needed */
    top: calc(50% - 30px); /* Adjust as needed */
}

  
  #yesButton {
    position: absolute;
    margin-right: 150px;
    margin-top: 30px;
  }
  
  .header_text {
    font-family: "perpetua", serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 10%; /* Position the header text vertically in the middle of the page */
    left: 49%; /* Position the header text horizontally in the middle of the page */
    transform: translate(-50%, -50%); 
  }
  
  .text {
    font-family: "perpetua", serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: -20px;
  }
  
  .btn {
    font-family: "perpetua", serif;
    background-color: #ba1ac9;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    min-width: 100px;
   /* transition: background-color 0.3s ease;*/
    box-shadow: 0 3px 3px black;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: #017cff;
  }
  
  .gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px; /* Adjust as needed */
    margin-left: -25px;
}

.gif_container img {
    max-width: 100%;
    height: auto;
}

  p {
    color: white;
    margin-left: 50%;
  }
  p a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    opacity: 0.25;
  }